html { /* Only selects html elements */
    font-size: 100%;
    line-height: 1.5rem; /* Rem short for "root em" is a unit of measurement that represents the font size of the root element. */
    box-sizing: border-box; /* Padding/border are included in the width/height */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto; /* 0 margin for top/bottom then left/right are automatically set by the browser */
    padding: 0; /* 0 for margin/padding eliminates any excess border/padding that the browser gives by default & also leaves for consistent styling across all web browser */
    min-height: 100vh; 
    max-width: 1400px;
}

*,
*::before,
*::after {
    box-sizing: inherit; /* Inherits the box sizing of the parent elements */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    line-height: 1rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    background-color: cornflowerblue;
    } 

.name,
.nav-menu {
    text-transform: uppercase; /* Turns all letters into uppercase */
}

.nav-menu {
    list-style: none; /* Removes any list style */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Evenly spaced between links / did not work alone, need to declare flex basis for items */
    align-items: center; /* Centers vertically */
    padding: 0; /* Gets rid of browser given padding */
    margin: 0; /* Got rid of margin for styling preference */
}

.nav-item {
    flex: 1 0 50%; /* Grows at a rate of 1 / 50% creates two column for my links */
    text-align: center; /* Centers text horizontally */
}

.name a,
.nav-menu a {
    display: block; /* Links are inline elements, here we declare them as blocks */
    text-decoration: none; /* Removes the underline decorating from links */
    letter-spacing: 0.2rem; /* Personal style preference */
    padding: 0.8rem; /* Extra padding to add more space for links */
}

.name {
    display: inline-flex;
    justify-content: flex-start;
    margin: 0 auto; /* 0 removes browser given margin & auto keeps the name centered */
}

.nav-menu a {
    color: blue; /* Declares color of links */
    transition: all ease-in-out 0.5s; /* ease-in-out animation on links / 0.5s fast */
}

.nav-menu a:hover { /* Declares all properties while links are being hovered */
    background-color: green;
    transform: scale(1.1); /*  While being hovered, links slighty increase in size*/

}

.nav-menu a:active { /* Declares all properties while links are active (Clicked on) */
    transform: scale(0.9); /* While clicking on the link, it slightly decreases in size */
}

.banner {
    text-align: center; /* Centers text horizontally */
    background-color: #fff;
}

h2 {
    display: inline-block;
    align-items: center; /* Centers text horizontally */
    justify-content: center; /* Centers content horizontally */
}


.section-titles {
    text-align: center; 
}

.section-titles:after {
    content: "";
    display: block; /* Displays as a block element */
    margin: 0 auto;
    width: 90%; /* Underline runs alone 90% of screen */
    padding: 10px; 
    border-bottom: 1px solid black; /* Underline */
}

@media (min-width: 600px) { /* Media Query for Table */
    .header-nav {
        line-height: 1.5rem;
    }
    .nav-menu {
        width: 100%
    }
    .nav-item {
        flex: 1 0 10%;
    }
}

@media (min-width: 900px) {
    .header-nav {
        justify-content: space-between;
        padding: 1rem 0;
        margin: 1rem auto;
    }
    .nav-menu {
        width: auto;
    }
    .name { 
        margin: 0 0 0 0.3rem; 
    }
}
